.container-service {
    display: flex;
    align-items: center;
    /* margin-top: clamp(-50px, -20vw, -225px); */
    margin-top: -20vw;
    flex-direction: column;
    padding-bottom: clamp(20px, 5vw, 50px);
}

.marquee-service {
    font-size: clamp(30px, 5vw, 50px);
    min-width: fit-content;
    color: rgb(14, 16, 121);
}

.Marquee-conaiter {
    width: clamp(50%, 70vw, 95%);
}

.hero-service {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 3vw, 30px);
    width: auto;
    flex-wrap: wrap;
    padding: clamp(0px, 2vw, 15px);
}