.image-welcome {
    background-image: url(../../assets/welcomephoto.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    border: #7A481F solid 2px;
}


.container-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.marquee-welcome {
    background: rgb(255, 255, 255);
    height: 50px;

}

.marquee-welcome-text {
    /* background: rgb(26, 38, 207); */
    width: fit-content;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    width: clamp(60px, 15vw, 100px);
    border-radius: 100%;
    font-size: clamp(12px, 2vw, 16px);
}

.cta-welcome {
    font-family: "Roboto", serif;
    font-size: clamp(1rem, 3vw, 1.75rem);
    background: #D03434;
    color: aliceblue;
    border: 0px;
    width: clamp(140px, 30vw, 250px);
    height: clamp(55px, 12vw, 85px);
    border-radius: 10px;
    padding: 5px;
}

.iconPhone {
    width: 150px;
    height: 150px;
}

.cta-welcome:hover {
    color: red;
    background: whitesmoke;
    border: solid red 1px;
}

.container-welcome h1 {
    font-size: clamp(35px, 6vw, 60px);
    font-family: "Fugaz One", serif;
    color: #000F89;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 clamp(10px, 2vw, 15px);
}

.container-welcome h3 {
    font-size: clamp(16px, 3vw, 25px);
    font-family: "Crimson Text", serif;
    color: #00000069;
    font-weight: normal;
    text-align: center;
    padding: 0 clamp(15px, 3vw, 30px);
}

.header-welcome-page {
    display: flex;
    /* background: #3fbb5e; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 15px;
}

.header-welcome-page .num {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    flex: 1;
    text-align: center;
    height: 100%;
}

.num-content {
    font-size: clamp(18px, 3.5vw, 55px);
    font-weight: 500;
}

.image-urgence {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.urgence {
    font-family: "Playwrite US Modern", serif;
    position: relative;
    top: clamp(20px, 4vw, 38px);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
    color: #FF0606;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(70px, 15vw, 100px);
    min-width: fit-content;
    padding-inline: clamp(10px, 2vw, 15px);
    background: #ffffff;
    /* border: #7A481F solid 2px ; */
    border: #080530 solid 2px;
    border-radius: 50px;
}


/* Sticky CTA for screens <= 1000px */
@media (max-width: 1000px) {
    .cta-welcome {
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        z-index: 1000;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .cta-welcome.sticky-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}


/* Responsive layout adjustments for mobile */
@media (max-width: 480px) {
    .header-welcome-page {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        padding: 10px 10px;
        justify-content: center;
    }

    .header-welcome-page .logo {
        order: 1;
        margin-right: auto;
    }

    .header-welcome-page .cta-welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
        font-size: 1.5rem;
        padding: 5px 10px;
        width: 75%;
        height: 70px;
    }

    .header-welcome-page .num {
        width: 100%;
        order: 3;
        margin-top: 5px;
    }

    .num-content {
        white-space: nowrap;
        font-size: clamp(16px, 5vw, 25px);
        font-weight: bolder;
        background: #a35f5f;
        flex-wrap: wrap;
        /* width: 90vw; */
    }
}