.container-footer {
    background: #332E2E;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.qualite-container-footer {
    display: flex;
    justify-content: space-between ;
    width: 90%;
    /* background: red; */
}

