.container-FastService {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #876D64;
    height: 100vh;
}

.container-FastService h1 {

    color: aliceblue;
}

.image-FastService {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fffbfb;
    background-image: url("../../assets/fast.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cta-fast {
    font-weight: bolder;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    border: 2px solid black;
    color: #ee1621;
    background: #000000c4;
    margin-bottom: clamp(30px, 5vw, 50px);
    backdrop-filter: blur(25px);
    width: clamp(280px, 60vw, 500px);
    height: clamp(70px, 15vw, 100px);
    border-radius: 50px;

}

.cta-fast:hover {
    background: #0000006b;

}