.diagno-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background: greenyellow; */
    padding-bottom: 150px;
    padding-top: 180px;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.diagno-container p {
    font-family: "Crimson Text", serif;
    /* font-weight: 300; */
}

.container-maquee-diagno {
    /* background: salmon; */
    width: 100%;

}

.text-marquee-diagno {
    color: black;
    width: fit-content;
    white-space: nowrap;
    /* background: red; */
}

.diagno-container .h1 {
    color: #1737c7;
}


.diagno-container h1 {

    text-align: right;
    width: 62%;
    font-size: 50px;
    font-family: "Fugaz One", serif;
}

.hero-diagno {
    /* background: #4a73b1; */
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    /* width: 75% ; */
}

.bg-diagno {
    display: flex;
    align-items: end;
    justify-content: center;
    /* background: rgb(156, 109, 21); */
    width: 100%;
    height: 400px;
    z-index: 0;
    opacity: 0.3;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-image: url(../../assets/outils.png);
}

.block {
    /* background: #8e16b3; */
    width: 360px;
    height: 360px;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 5px;

}

.block .det {
    color: aliceblue;
    background: #050111b6;
    border-radius: 5px;
    font-family: "Roboto", serif;
    padding-inline: 15px;
    backdrop-filter: blur(15px);

}

.block1 {
    background-image: url(../../assets/appel.png);

}

.block2 {
    background-image: url(../../assets/diagno.png);

}

.block3 {
    background-image: url(../../assets/depa.png);

}

.cta-button-diagno,
.bg-diagno {
    position: relative;
    bottom: 180px;
}



.cta-button-diagno {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* background: violet; */
    width: 375px;
    height: 90px;
    position: relative;
    bottom: 225px;
    border: #C3C2C0;
    background: #ED1B24;
    color: aliceblue;
    font-size: 25px;
    border-radius: 5px;

}

.cta-button-diagno:hover {
    border: 2px red solid;
    color: red;
    background: #ffffff;
}

.cta-button-diagno:active {
    border: 2px red solid;
    color: rgb(255, 255, 255);
    background: #db5959;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 1024px) {
    .diagno-container {
        padding-top: 120px;
        margin-top: 0px;
        margin-bottom: -250px;
    }

    .diagno-container h1 {
        width: 80%;
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .diagno-container {
        padding-top: 100px;
        margin-top: 0px;
    }

    .diagno-container h1 {
        text-align: center;
        width: 90%;
        font-size: 32px;
    }

    .hero-diagno {
        gap: 30px;
    }

    .block {
        width: 90%;
        max-width: 360px;
    }

    .bg-diagno {
        height: 300px;
        bottom: 100px;
    }

    .cta-button-diagno {
        width: 90%;
        max-width: 350px;
        font-size: 20px;
        height: 70px;
        bottom: 150px;
    }
}

@media screen and (max-width: 480px) {
    .diagno-container {
        padding-top: 80px;
    }

    .diagno-container h1 {
        font-size: 28px;
    }

    .block {
        height: 320px;
    }

    .cta-button-diagno {
        font-size: 18px;
        bottom: 120px;
    }

    .bg-diagno {
        bottom: 80px;
    }
}