.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: clamp(380px, 60vw, 400px);
    width: clamp(95%, 50vw, 300px);
    max-width: 350px;
    border-radius: 5px;
    border: solid 2px #11145244;
    box-shadow: 1px 2px 4px #10599462;
    padding-inline: clamp(10px, 2vw, 15px);
    padding-block: 15px;
    font-family: "Roboto", serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-container:hover {
    transform: translateY(-5px);
    box-shadow: 2px 8px 16px #10599462;
}

.top-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-cart h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-left: 10px;
}

.top-cart img {
    width: clamp(60px, 12vw, 85px);
    height: clamp(60px, 12vw, 85px);
    object-fit: contain;
}

.cart-container p {
    width: clamp(90%, 92vw, 95%);
    text-align: center;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    line-height: 1.4;
}

.image-block {
    width: 100%;
    height: 50%;

    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.cart-button {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    background: rgba(238, 76, 76, 0.151);
    max-width: 400px;
    width: 100%;
    height: 60px;
    min-height: 60px;
    flex-shrink: 0;
    margin-top: 15px;
    border: solid #ED1B24 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ED1B24;
}

.cart-button:hover {
    background: rgba(238, 76, 76, 0.3);
    transform: scale(1.05);
}