.container-service {
    display: flex;
    align-items: center;
    margin-top: -225px;
    display: flex;
    flex-direction: column;
    /* background: red; */
    padding-bottom: 50px;
    
}

.marquee-service {
    /* background: blue;  */
    font-size: 50px;
    width: fit-content;
    color: rgb(14, 16, 121);
}

.Marquee-conaiter {
    width: 100%;
    width: 50%;
    /* background: rgb(175, 73, 73); */
}

.hero-service {
    display: flex;
     align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}