.container-service {
    margin-top: -225px;
    display: flex;
    flex-direction: column;
    /* background: red; */
}

.marquee {
    width: 100%;
    height: 150px;
    background: hotpink;
    margin-bottom: 50px;
}

.hero-service {
    display: flex;
     align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}